$search: url('search.png');
.header__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 50px;
    box-sizing: border-box;
    align-items: center;
}

.header__logo{
    width: 150px;
}

.header__search{
    input {
        border: none;
        background: darkgrey;
        border-radius: 2px;
        opacity: .3;
    }
}